<h6>Declarative visibility (already set true before render in the component)</h6>

<div class="btn-container">
  <button
    tp="I'm a declarative tooltip"
    tpVariation="tooltip"
    tpTrigger="click"
    tpClassName="declarativeTooltip"
    class="btn btn-outline-secondary"
    [tpIsVisible]="visibility"
    data-cy="tippy-reference-declarative"
  >
    Declarative Tooltip
  </button>
</div>

<button (click)="visibility = !visibility" data-cy="trigger-declarative" class="btn btn-outline-info btn-sm mt-2">
  Toggle tooltip
</button>

<hr />
