<div [formGroup]="tooltipSettings">
  <div>
    <div>Tooltip type</div>
    <div *ngFor="let option of tooltipTypes">
      <input type="radio" formControlName="type" name="type" [value]="option" />
      {{ option }}
    </div>
  </div>
  <div>
    <div>Tooltip placement</div>
    <div *ngFor="let option of tooltipPositions">
      <input type="radio" formControlName="position" name="position" [value]="option" />{{ option }}
    </div>
  </div>
  <div>
    <div>Tooltip alignment</div>
    <div *ngFor="let option of tooltipAlignments">
      <input type="radio" formControlName="alignment" name="alignment" [value]="option.value" />{{ option.label }}
    </div>
  </div>

  <div>
    <button helipopper="Helpful Message" [helipopperPlacement]="tooltipPosition" [helipopperVariation]="tooltipType">
      I have a tooltip
    </button>
  </div>
</div>

<div class="block">
  <h2>Lazy</h2>
  <div style="height: 300px; overflow-y: auto">
    <div *ngFor="let item of items" [helipopper]="item.label">{{ item.label }}</div>
  </div>
</div>

<div class="block">
  <h2>Manual Trigger</h2>
  <span helipopper="Helpful Message" helipopperTrigger="manual" #tooltip="helipopper">Click open to see me </span>

  <button (click)="tooltip.show()">Open</button>
  <button (click)="tooltip.hide()">Close</button>
</div>

<div class="block">
  <h2>Custom Template</h2>
  <button [helipopper]="tpl" helipopperVariation="popper">
    Click Me
  </button>

  <ng-template #tpl>
    <div>
      <div [helipopper]="thoughts">
        {{ interval$ | async }}
        <div *ngFor="let msg of messages">{{ msg }}</div>
      </div>
      <div>
        <button (click)="talk()">Click to talk ☮️️</button>
      </div>
    </div>
  </ng-template>
</div>

<div class="block">
  <h2>Disabled</h2>
  <div>
    <div>
      <div [helipopperDisabled]="isDisabled" helipopper="I can't tell you, it's a Secret 🤫">
        {{ isDisabled ? 'No tooltip' : 'Hover me to read a secret' }}
      </div>

      <div [helipopperDisabled]="isDisabled" helipopperTrigger="click" helipopper="Disabling me will also hide me">
        click me to read a secret
      </div>
    </div>

    <button (click)="toggle()">Toggle Disable State</button>
  </div>
</div>

<div class="block">
  <h2>Text Overflow</h2>
  <ul style="max-width: 100px;">
    <li
      class="ellipsis"
      [helipopper]="text"
      helipopperPlacement="right"
      [helipopperTextOverflow]="true"
      style="display: inline-block"
    >
      {{ text }}
    </li>
  </ul>

  <ul style="max-width: 400px;">
    <li
      class="ellipsis"
      [helipopper]="text"
      helipopperPlacement="top"
      [helipopperTextOverflow]="true"
      style="display: inline-block"
    >
      It should work with <b>resize</b>. This tooltip is on 🔥
    </li>
  </ul>

  <button (click)="changeContent()">Change Content</button>
</div>

<div class="block">
  <h2>Custom Target</h2>
  <div
    helipopper="A tooltip for a nested span element"
    helipopperPlacement="right"
    [helipopperHost]="nestedTooltipElement"
  >
    <div>
      <span class="inline-block">Hovering my container won't affect me</span>
      <span class="inline-block">Hovering my container won't affect me</span>
      <span #nestedTooltipElement class="inline-block">Hovering my container will show my tooltip</span>
      <span class="inline-block">Hovering my container won't affect me</span>
    </div>
  </div>

  <hr class="hr" />

  <div #outerTooltipElement>
    <div>
      <span class="inline-block">Hovering me won't trigger my container tooltip</span>
      <span class="inline-block">Hovering me won't trigger my container tooltip</span>
      <span
        [helipopperHost]="outerTooltipElement"
        helipopper="A tooltip for an outer div element"
        helipopperPlacement="right"
        class="inline-block"
      >
        Hovering me will trigger the tooltip based on the container dims</span
      >
    </div>
  </div>
</div>

<div class="block">
  <h2>Dynamic Container</h2>
  <div class="inline-block">
    <div helipopper="Knock knock. Who’s there? Cow says. Cow says who? No, a cow says mooooo!">
      I'll appended to the document by default
    </div>

    <div
      helipopperAppendTo=".inline-block"
      helipopper="Knock knock. Who’s there? A little old lady. A little old lady who? All this time, I had no idea you could yodel."
    >
      I'll appended to the closest .inline-block I find
    </div>

    <div #someElement>
      <div [helipopperAppendTo]="someElement" helipopper="Knock knock. Who’s there? Etch. Etch who? Bless you, friend">
        I'll appended to the the HTML element you've told me.
      </div>
    </div>
  </div>
</div>

<div class="block">
  <h2>Sticky</h2>
  <div class="inline-block">
    <div [helipopperSticky]="isSticky" helipopper="Knock knock. Who’s there? Spell. Spell who? Okay, okay: W. H. O.">
      Hover me to read a joke
    </div>

    <button (click)="toggleSticky()">{{ isSticky ? 'Hide sticky tooltip' : 'Make the tooltip sticky' }}</button>
  </div>
</div>

<div class="block">
  <h2>Custom Component</h2>
  <button [helipopper]="comp" helipopperVariation="popper" (helipopperClose)="close()">Open component</button>
</div>
