<div [formGroup]="tooltipSettings" style="text-transform: capitalize">
  <div *ngFor="let option of tooltipTypes" class="flex items-center">
    <input type="radio" formControlName="type" name="type" [value]="option" class="mr-4" />
    {{ option }}
  </div>

  <hr />

  <div *ngFor="let option of tooltipPositions" class="flex items-center">
    <input type="radio" formControlName="position" name="position" [value]="option" class="mr-4" />{{ option }}
  </div>

  <hr />

  <div *ngFor="let option of tooltipAlignments" class="flex items-center">
    <input type="radio" formControlName="alignment" name="alignment" [value]="option.value" class="mr-4" />{{
      option.label
    }}
  </div>

  <div class="btn-container">
    <button
      class="btn btn-outline-primary"
      tippy="Helpful Message"
      [placement]="tooltipPosition"
      [variation]="tooltipType"
    >
      I have a tooltip
    </button>
  </div>
</div>

<hr />

<div id="custom-template">
  <h6>Custom Template</h6>

  <div class="btn-container">
    <button [tippy]="tpl" variation="popper" class="btn btn-outline-secondary">Click Me</button>
  </div>

  <ng-template #tpl let-hide>
    <div>
      <div [tippy]="thoughts">
        <span>{{ interval$ | async }}</span>
        <div *ngFor="let msg of messages">{{ msg }}</div>
      </div>
      <div>
        <button (click)="talk(); hide()">Click to talk️</button>
      </div>
    </div>
  </ng-template>
</div>

<hr />

<div id="custom-component">
  <h6>Custom Component</h6>

  <div class="btn-container">
    <button class="btn btn-outline-danger" [tippy]="comp" variation="popper" (visible)="handleStatus($event)">
      Open component
    </button>
  </div>
</div>

<hr />

<div id="manual-trigger" class="block">
  <h6>Manual Trigger</h6>

  <div class="btn-container items-center">
    <p tippy="Helpful Message" trigger="manual" #tippy="tippy" class="mr-4">Click open to see me</p>

    <button (click)="tippy.show()" class="btn btn-outline-dark">Open</button>
    <button (click)="tippy.hide()" class="btn btn-outline-dark">Close</button>
  </div>
</div>

<hr />

<div id="lazy">
  <h6>Lazy</h6>
  <div style="height: 300px; overflow-y: auto">
    <div *ngFor="let item of items" [tippy]="item.label" [lazy]="true">{{ item.label }}</div>
  </div>
</div>

<hr />

<div id="disabled">
  <h6>Disabled</h6>

  <div class="btn-container">
    <button [isEnable]="!isDisabled" tippy="Tooltip" class="btn btn-outline-dark">Element</button>
  </div>

  <button (click)="toggle()" class="btn btn-outline-primary btn-sm">{{ isDisabled ? 'Enable' : 'Disable' }}</button>
</div>

<hr />

<div id="text-overflow">
  <h6>Text Overflow</h6>
  <ul style="max-width: 100px;">
    <li class="ellipsis" [tippy]="text" placement="right" [onlyTextOverflow]="true" style="display: inline-block">
      {{ text }}
    </li>
  </ul>

  <ul style="max-width: 400px;">
    <li class="ellipsis" [tippy]="text" placement="top" [onlyTextOverflow]="true" style="display: inline-block">
      It should work with <b>resize</b>. This tooltip is on 🔥
    </li>
  </ul>

  <button (click)="changeContent()">Change Content</button>
</div>

<!--<div id="sticky" class="block">-->
<!--  <h2>Sticky</h2>-->
<!--  <div class="inline-block">-->
<!--    <div [helipopperSticky]="isSticky" helipopper="Knock knock. Who’s there? Spell. Spell who? Okay, okay: W. H. O.">-->
<!--      Hover me to read a joke-->
<!--    </div>-->

<!--    <button (click)="toggleSticky()">{{ isSticky ? 'Hide sticky tooltip' : 'Make the tooltip sticky' }}</button>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="block">-->
<!--  <h2>Attach the popper manually</h2>-->
<!--  <fieldset>-->
<!--    <legend>Enter your name</legend>-->
<!--    <input #inputName type="text" [formControl]="formControl" (keyup.enter)="submit()" />-->
<!--  </fieldset>-->
<!--</div>-->

<!--<div class="block">-->
<!--  <h2>Attach the popper manually (with provided component)</h2>-->
<!--  <fieldset>-->
<!--    <legend>Enter your name</legend>-->
<!--    <input #inputNameComp type="text" [formControl]="formControlWithComp" (keyup.enter)="submitWithComp()" />-->
<!--  </fieldset>-->
<!--</div>-->

<!--<div class="block">-->
<!--  <h2>Nested menu</h2>-->
<!--  <button [helipopper]="menu" helipopperVariation="popper" (helipopperClose)="close()">menu</button>-->
<!--</div>-->

<!--<div class="block">-->
<!--  <h2>Multiple child nodes</h2>-->

<!--  <button [helipopper]="multipleChildNodes" helipopperVariation="popper">-->
<!--    Click Me-->
<!--  </button>-->

<!--  <ng-template #multipleChildNodes>-->
<!--    <ng-container>-->
<!--      <div *ngFor="let message of messages">{{ message }}</div>-->
<!--    </ng-container>-->

<!--    <button (click)="talk()">Click to talk ☮️️</button>-->
<!--  </ng-template>-->
<!--</div>-->
