@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/themes/light-border.css';
@import 'tippy.js/animations/scale.css';

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 20px;
}

.mr-4 {
  margin-right: 4px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

p {
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
